---
on:
  workflow_call:
    inputs:
      repo:
        required: false
        type: string
      user:
        required: false
        type: string
      pr:
        required: false
        type: string
    outputs:
      image:
        value: ${{jobs.test-oidc.outputs.access_key}}
permissions:
  id-token: write
jobs:
  auth:
    uses: Yharnix/ci/.github/workflows/issue_ecr_creds.yml@master
    with:
      workflow_ref: $GITHUB_WORFLOW
  build-image:
    needs:
      - auth
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ needs.auth.outputs.access_key }}
      AWS_SECRET_ACCESS_KEY: ${{ needs.auth.outputs.secret_access }}
      AWS_SESSION_TOKEN: ${{ needs.auth.outputs.session_token }}
      AWS_REGION: us-east-1
      ACCOUNT_ID: "037444031381"
      REPO: taffy-images
      IMAGE_TAG: ${{ github.sha }}
      OWNER_TAG: ${{ github.repository_owner }}
      REPO_TAG: ${{ github.repository }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: List files in workspace
        run: |
          echo "Current directory: $(pwd)"
          ls -R
      - name: Build the docker image
        run: |
          IMAGE_TAG=${{github.sha}}
          echo "Building Docker image with tag build "
          docker build -t my-app:build ./
      - name: Login to ECR
        run: |
          aws ecr get-login-password --region "$AWS_REGION" \
          | docker login --username AWS --password-stdin "$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com"
      - name: Push to taffy-images
        run: |
          ECR_URI="$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/taffy-images"

          REPO_TAG_SAFE="${REPO_TAG//\//-}"
          IMAGE_TAG_SAFE="${IMAGE_TAG:0:12}"
          docker tag my-app:build "$ECR_URI:$IMAGE_TAG" 
          docker tag my-app:build "$ECR_URI:${OWNER_TAG}-${REPO_TAG_SAFE}-${IMAGE_TAG_SAFE}" 
          docker push "$ECR_URI:${OWNER_TAG}-${REPO_TAG_SAFE}-${IMAGE_TAG_SAFE}"
      - name: Start task creation
      run: |
        curl -X GET "https://lk90fiezxj.execute-api.us-east-1.amazonaws.com/prod?sha=${{ IMAGE_TAG }}&owner=${{ OWNER_TAG }}&repo=${{ REPO_TAG }}&pr=5" # NOTE Make pr a valid tag in the future
# hmake api call to start task
# https://lk90fiezxj.execute-api.us-east-1.amazonaws.com/prod?sha=48&owner=malcolm&repo=test&pr=3